@import 'reset';
@import './variables/global';
@import './themes/normal';
@import './themes/dark';

.App {
  font: var(--font-m);

  background-color: var(--bg-color);
  color: var(--primary-color);
  // display: flex;
  // flex-direction: column;

  min-height: 100vh;
  width: 100%;
}

.page__wrapper {
  width: 100%;
  display: flex;
}

.page__content {
  flex-grow: 1;
  padding: 12px;
}
