@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
  // font

  --font-family-main: 'PT Sans', sans-serif;

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  // sizes

  --navbar-height: 50px;
  --sidebar-width: 280px;
  --sidebar-width-collapsed: 64px;
}
