.Button {
  border: none;
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
}

.clear {
  border: none;
  background-color: transparent;
  padding: 0;
  outline: none;
}
