.Button {
  color: var(--primary-color);
  cursor: pointer;
}

.clear {
  border: none;
  background-color: transparent;
  padding: 0;
  outline: none;
}

.outline {
  padding: 4px 8px;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
