.Sidebar {
  position: relative;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background-color: var(--inverted-bg-color);

  transition: width 0.35s ease-in-out;
}

.switchers {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang {
  margin-left: 20px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .lang {
    margin: 0;
  }
}

.collapseBtn {
  position: absolute;
  bottom: 40px;
  right: -28px;
}
