.Sidebar {
  position: relative;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background-color: var(--inverted-bg-color);

  transition: width 0.35s ease-in-out;
}

.switchers {
  margin: 0 8px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.lang {
  margin-left: 20px;
  overflow: hidden;
}

.collapseBtn {
  position: absolute;
  bottom: 40px;
  right: -28px;
}

.links__container {
  margin: 12px 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.link__container {
  display: flex;
  justify-content: center;
  // align-items: center;
  gap: 8px;
  text-decoration: none;
}

.link {
  opacity: 1;
  transition: opacity 0.25s linear;
}

.icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  fill: var(--inverted-secondary-color);
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .link__container {
    align-items: none;
  }

  .switchers {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .lang {
    margin: 0;
    padding: 0;
  }

  .link {
    width: 0;
    opacity: 0;
    transition: opacity 0.25s linear;
  }
}
