.Sidebar {
  position: relative;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background-color: var(--inverted-bg-color);
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}
