:root,
.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0c0c66;

  --primary-color: #0232c2;
  --seconadry-color: #0452ff;
  --inverted-primary-color: #049604;
  --inverted-seconadry-color: #04ff04;
}
