@keyframes lineGrow {
  to {
    width: 100%;
  }
}

.loader {
  font-size: 48px;
  color: var(--inverted-bg-color);
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
}

.loader:after {
  content: '';
  position: absolute;
  bottom: -16px;
  height: 4px;
  width: 0%;
  display: block;
  background: #ff3d00;
  animation: 1s lineGrow ease-in infinite;
}
